﻿@model IEnumerable<SocialNetDemo.Models.ApplicationUser>

@{
    ViewBag.Title = "See Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Peoples you may know.</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfilePic)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                <img src="data:image;base64,@System.Convert.ToBase64String(item.ProfilePic)" width="80" height="auto" alt="No Profile Pic" />
            </td>
            <td>
                @Html.ActionLink("Accept", "AcceptRequest", new { id=item.Id }) | 
                @Html.ActionLink("Reject", "RejectRequest", new { id = item.Id })
            </td>
        </tr>
    }

</table>
