﻿@{
    ViewBag.Title = "Change Picture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangePics</h2>


@using (Html.BeginForm("ChangePics","Manage", FormMethod.Post, new { enctype ="multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2">Select Type</label>
            <div class="col-md-10">
                <select name="selectType" class="form-control">
                    <option value="proPic">Profile Picture</option>
                    <option value="coverPic">Cover Image</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Select Image File</label>
            <div class="col-md-10">
                <input type="file" class="form-control" name="imageFile"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
